In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [49]:
data = pd.read_csv('store.csv')

In [50]:
data.shape

(115597, 9)

In [51]:
data.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [52]:
data = data.drop('Start date', axis=1)

In [53]:
data = data.drop('End date',axis=1)
data = data.drop('Start station',axis=1)
data = data.drop('End station',axis=1)

In [54]:
le = LabelEncoder()
le.fit(data['Member type'])
data['Membebr type']=le.transform(data['Member type'])

In [55]:
le = LabelEncoder()
le.fit(data['Bike number'])
data['Bike number']=le.transform(data['Bike number'])

In [56]:
data.head()

,Duration,Start station number,End station number,Bike number,Member type,Membebr type
0,1012,31208,31108,614,Member,1
1,61,31209,31209,41,Member,1
2,2690,31600,31100,836,Member,1
3,1406,31600,31602,282,Member,1
4,1413,31100,31201,734,Member,1

In [32]:
train = np.array(data.iloc[0:85000])
test = np.array(data.iloc[85000:])

In [33]:
train.shape,test.shape

((85000, 6), (30597, 6))

In [34]:
from sklearn.naive_bayes import GaussianNB

In [35]:
model = GaussianNB()
model.fit(train[:,0:4],train[:,4])

GaussianNB(priors=None, var_smoothing=1e-09)

In [36]:
predicted = model.predict(test[:,0:4])

In [37]:
count =0
for i in range(30597):
    if predicted[i]==test[i,4]:
        count=count+1

In [38]:
print(count)
print(count/30597)

28086
0.9179331306990881